@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    string cdnRoot = "https://cdn.jsdelivr.net/npm";
    
    string vuetifyCss  = $"{cdnRoot}/vuetify@2.6.2/dist/vuetify.min.css";
    string msalJs      = $"{cdnRoot}/@azure/msal-browser@2.21.0/lib/msal-browser.min.js";
    string axiosJs     = $"{cdnRoot}/axios@0.24.0/dist/axios.min.js";
    string vueJs       = $"{cdnRoot}/vue@2.6.14/dist/vue.runtime.min.js";
    string vueRouterJs = $"{cdnRoot}/vue-router@3.5.3/dist/vue-router.min.js";
    string vuetifyJs   = $"{cdnRoot}/vuetify@2.6.2/dist/vuetify.min.js";

    // If running dev builds, load from local packages rather than the CDN
    if (hostingEnv.IsDevelopment())
    {
        vuetifyCss  = "/node_modules/vuetify/dist/vuetify.css";
        msalJs      = "/node_modules/@azure/msal-browser/lib/msal-browser.js";
        axiosJs     = "/node_modules/axios/dist/axios.js";
        vueJs       = "/node_modules/vue/dist/vue.js";
        vueRouterJs = "/node_modules/vue-router/dist/vue-router.js";
        vuetifyJs   = "/node_modules/vuetify/dist/vuetify.js";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACH5BAEAAAAALAAAAAABAAEAAAIBKAA7">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="@vuetifyCss">
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
    <title>Vuetify starter</title>
</head>
<body>
    <div id="app">...loading</div>

    <script src="@msalJs"></script>
    <script src="@axiosJs"></script>
    <script src="@vueJs"></script>
    <script src="@vueRouterJs"></script>
    <script src="@vuetifyJs"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>
